.main-content-1-info img{
    width: 18%;
    height: 20%;
    margin-left: 40px;
    margin-right: 0;
}
.main-content-1-info h2{
    color:#0f1526;
}
.main-content-1-titulo{
    text-align: center;
    margin: 60px;
}
